body{
    background-color: #FFEA6C;   
}
header{
    display: flex;
    align-items: center;
}
h1{
    color: #91D06C;
    font-size: 60px;
    text-align: center;
}
img{
    width: 17%;
    margin-left: 800px;
    display:flex;
}
div{
  font-size: larger;
}